/Death/3rdparty/gtest-1.7.0/
/Death/CMakeCache.txt
/Death/nbproject
/ZMQ/3rdparty/gtest-1.7.0/
/ZMQ/CMakeCache.txt
/ZMQ/nbproject
/Death-1.0.tar.gz
/Death/dist/
/ZMQ-1.0.tar.gz
/ZMQ/CMakeFiles/
/ZMQ/CTestTestfile.cmake
/ZMQ/Makefile
/ZMQ/cmake_install.cmake
/ZMQ/compile_commands.json
/rpms/

